* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.App {
  text-align: center;
  height: 100vh;
  background-image: url(../images/bg/Bg\ pc.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#header {
  background-color: rgb(135, 163, 142);
  border-style: inset;
}

#login-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 0 30px 0;
  border-style: solid;
  max-width: 700px;
  width: 50vw;
  height: fit-content;
  background-color: rgba(102, 138, 107, 0.596);
}

h1 {
  margin: 0;
}

@media screen and (max-width: 992px) {
  .App {
    background-image: url(../images/bg/Bg\ Cell.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}