* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.App {
  text-align: center;
  height: 100vh;
  background-image: url(../images/bg/Bg\ pc.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
}

#login-page {
  display: flex;
  flex-direction: column;
  border-style: solid;
  max-width: 500px;
  background-color: rgba(102, 138, 107, 0.596);
}

h1 {
  margin: 0;
}

@media screen and (max-width: 992px) {
  .App {
    background-image: url(../images/bg/Bg\ Cell.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: initial;
  }
}